[Unit]
Description={{PACKAGE_SUMMARY}}
After=network.target

[Service]
Type=simple
User=flomation
Group=flomation
WorkingDirectory=/opt/flomation/{{COMPONENT_NAME}}
ExecStart=/opt/flomation/{{COMPONENT_NAME}}/{{COMPONENT_NAME}}
StandardOutput=append:/opt/flomation/{{COMPONENT_NAME}}/logs/{{COMPONENT_NAME}}.log
StandardError=append:/opt/flomation/{{COMPONENT_NAME}}/logs/{{COMPONENT_NAME}}.err
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
