<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product Name='{{PACKAGE_NAME}}'
           Id='*'
           UpgradeCode='{{UPGRADE_CODE}}'
           Language='1033'
           Codepage='1252'
           Version='{{VERSION}}'
           Manufacturer='{{MAINTAINER_NAME}}'>

    <Package Id='*'
             Keywords='Installer'
             Description='{{PACKAGE_SUMMARY}}'
             Manufacturer='{{MAINTAINER_NAME}}'
             InstallerVersion='200'
             Languages='1033'
             Compressed='yes'
             SummaryCodepage='1252' />

    <Media Id='1' Cabinet='product.cab' EmbedCab='yes' />

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='FlomationFolder' Name='Flomation'>
          <Directory Id='INSTALLDIR' Name='{{COMPONENT_NAME}}'>
            <Component Id='MainExecutable' Guid='*'>
              <File Id='ExecutableFile'
                    Name='{{COMPONENT_NAME}}.exe'
                    Source='application.exe'
                    KeyPath='yes' />

              <Environment Id='PATH'
                          Name='PATH'
                          Value='[INSTALLDIR]'
                          Permanent='no'
                          Part='last'
                          Action='set'
                          System='yes' />
            </Component>

            <Directory Id='EtcFolder' Name='etc'>
              <Component Id='EtcFolder' Guid='*'>
                <CreateFolder />
                <RemoveFolder Id='RemoveEtcFolder' On='uninstall'/>
                <RegistryValue Root='HKCU' Key='Software\Flomation\{{COMPONENT_NAME}}' Name='etc' Type='integer' Value='1' KeyPath='yes'/>
              </Component>
            </Directory>

            <Directory Id='LogsFolder' Name='logs'>
              <Component Id='LogsFolder' Guid='*'>
                <CreateFolder />
                <RemoveFolder Id='RemoveLogsFolder' On='uninstall'/>
                <RegistryValue Root='HKCU' Key='Software\Flomation\{{COMPONENT_NAME}}' Name='logs' Type='integer' Value='1' KeyPath='yes'/>
              </Component>
            </Directory>
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Flomation">
          <Component Id="ApplicationShortcut" Guid="*">
            <Shortcut Id="ApplicationStartMenuShortcut"
                     Name="{{PACKAGE_NAME}}"
                     Description="{{PACKAGE_SUMMARY}}"
                     Target="[#ExecutableFile]"
                     WorkingDirectory="INSTALLDIR"/>
            <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
            <RegistryValue Root="HKCU" Key="Software\Flomation\{{COMPONENT_NAME}}" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id='Complete' Level='1'>
      <ComponentRef Id='MainExecutable' />
      <ComponentRef Id='EtcFolder' />
      <ComponentRef Id='LogsFolder' />
      <ComponentRef Id='ApplicationShortcut' />
    </Feature>

    <Icon Id="icon.ico" SourceFile="icon.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    <Property Id="ARPHELPLINK" Value="{{PACKAGE_URL}}" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
  </Product>
</Wix>
